html{
    background: linear-gradient(to top, #544a7d, #ffd452);
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 1200px;
  margin: 20px;
  display: flex;
  gap: 20px;
}

#productos-disponibles {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

#lista-productos {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.producto {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

#carrito {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  margin-left: 20px;
}

#carrito li {
  border: 1px solid #2a030b;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-left: auto;
}

#carrito img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

#costoTotal {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#mostrarCostoTotalBtn {
  background: linear-gradient(to right, #43cea2, #185a9d); 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  padding: 15px;
  margin-top: 10px;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  border-radius: 3%;
  font-weight: bold;

}

#mostrarCostoTotalBtn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}