html{
    background: linear-gradient(to top, #544a7d, #ffd452);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 20px;
  display: flex;
  gap: 20px;
}

#productos-disponibles {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

#lista-productos {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas según sea necesario */
  gap: 20px;
}

.producto {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 100%;
  height: 150px; /* Ajusta la altura según sea necesario */
  object-fit: cover;
  margin-bottom: 10px;
}


/* Estilos para la sección del carrito */
#carrito {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

#carrito li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#carrito img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Estilos para el costo total y el botón */
#costoTotal {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#mostrarCostoTotalBtn {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

#mostrarCostoTotalBtn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}